# Secrets - kabhi push nahi karna
.env
.env.local
*.pem
*.key

# Maven build
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle (agar use karo to)
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE - IntelliJ
.idea/
*.iws
*.iml
*.ipr

# IDE - VS Code
.vscode/

# IDE - Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db